.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    /* border:3px solid red; */
}

.hero-content {
    margin-top: -27px;
    flex: 1;
    padding-right: 1.5rem;
    margin-left: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.hero-image {
    margin-top: -27px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image .Image {
    /* max-width: 100%;
    height: 100%;
    border-radius: 5px; */
    /* background:transparent;
    border:none; */
}
